.section1{
    height: 90vh;
    width:100;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;


}
.title{
    text-align: center;
    font-size: 50px;
   
    

}
.changeText{
    
    
    text-align: center;
    place-content: center;
    margin-left: 10px;
height: 80px;
    overflow: hidden;
    padding-bottom: 16px;
    
   
}

@keyframes changetext {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    25%{
        transform: translateY(-80px);
        opacity: 1;

    }
    50%{
        transform: translateY(-160px);
        opacity: 1;
    }
    75%{
        transform: translateY(-240px);
         opacity: 1;
    }
    100%{
        transform: translateY(0);
    }
    
}

.foodName{
    font-size: 60px;
    text-align: center;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: yellow;
 

  
     animation: changetext 10s ease-in-out 1s infinite alternate ;
    
    
    
}
